
@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:wght@300&family=Open+Sans+Condensed:wght@300&display=swap');

html{
    font-size: 62.5%;
}

*{
    font: 1.6rem;
scroll-behavior: smooth;

}
body{
    position: relative;
    font-family: Roboto, cursive;
    font-family: 'Open Sans Condensed', sans-serif;	        font: 1.6rem;

        margin: 0;
}

.effect_menu{
opacity: 0;
visibility: hidden;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(248, 47, 255, 0.13);
z-index: 2;
transition: all ease-in-out .3s;
}

.effect_menu_show{
opacity: 1;
visibility: visible;
position: absolute;
top: 0;
left: 0;
bottom: 0;
width: 100%;
height: 100%;
background-color: rgba(255, 255, 255, 0.575);
z-index: 2;
transition: all ease-in-out .3s;
}

h1,h2,h3,p,ul,ol,a,th,figure{
    text-decoration: none;
    margin: 0;
    list-style: none;
    padding: 0;
    font-weight: 400;
}


*{
    box-sizing: border-box;
}


header{
z-index: 200;
position: fixed;
width: 100%;
margin-bottom: 22rem;
background-color: rgba(114, 111, 111, 0.52);
transition: all .4s;

}


header>h1>img{
width: 10rem;
height:10rem;
display: block;
margin: 0 auto;
}

.banniere_a{
position: relative;
z-index: 1;
width: 100%;
height: 80vh;
background-image:url(../assets/wallpaper_car-2.jpg);
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
background-attachment: fixed

}
.contact{
display: grid;
grid-template-columns: repeat(2,1fr);
width: 100%;
margin: 0 auto;
text-align: center;
visibility: hidden;
opacity: 1;
transition: all ease-in-out .3s;
font-size: .3rem;

}

.show{
display: grid;
visibility: visible;
opacity: 1;
font-size: 4rem;
box-shadow: rgba(255, 255, 255, 0.1) 0px 20px 25px -5px, rgba(255, 255, 255, 0.04) 0px 10px 10px -5px;  transition: all ease-in-out .3s;
}

.contact>li>a{
color: white;
}

.banniere_a>p{
font-size:5rem;
position: absolute;
top: 50%;
color: white;
left: 50%;
transform: translate(-50%,-50%);
}

.banniere_b{

display: grid;
margin: 2rem auto;
grid-template-columns: repeat(3,1fr);
width: 90%;
height: 40vh;
grid-gap: 2rem; 
}



.banniere_b>div{
box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
transition: all .3s;

width: 99%;

}


.banniere_b>div:hover{
box-shadow: rgba(238, 100, 238, 0.35) 0px 5px 15px;
transition: all .3s;
}

.banniere_c>h2:first-child{
padding: 2rem;
text-align: center;
transition: all ease-ease-in-out .3s;
animation: textalign .5s linear;
font-size: 3rem;

}

.div_grid_text{
width: 100%;
display: grid;
grid-template-columns: repeat(2,1fr);
}

.div_grid_text>p{
font-weight: 900;
font-size: 1.6rem;
line-height: 4rem;
padding: 1rem;
}
.div_grid_text>img{
display: block;
height: 100%;
margin:0 auto;
vertical-align: middle;
width: 90%;
}
.banniere_c>p{
padding: .5rem;
}
.bodychange{
filter: brightness(1rem);
}

footer>ul{

text-align: center;
width: 90%;
margin: 4rem auto;
display: grid;
font-size: 2rem;
grid-template-columns: repeat(4,1fr);
}

.formm{
width: 100%;
height: 20rem;
display: block;
}


footer>ul>li:hover {
-webkit-mask-image: linear-gradient(-75deg, rgba(184, 150, 150, 0.6) 30%, rgb(185, 0, 0) 50%, rgba(238, 238, 238, 0.6) 70%);
-webkit-mask-size: 200%;
animation: shine 2s infinite;
}



@-webkit-keyframes shine {
from {
  -webkit-mask-position: 150%;
}

to {
  -webkit-mask-position: -50%;
}
}


footer>ul>li>a{
  cursor: pointer;
  color: black;
}

.appear{
display: block;
width: 90%;
max-width: 500px;
margin: 0 auto;
padding: 20px;
box-shadow: 0px 0px 20px #00000010;
background-color: white;
border-radius: 8px;
margin-bottom: 20px;
}
.demo .menu-icon {
    transform: scale(1.5);
  }
  :root {
    --bar-bg: #ffffff;
  }
  .menu-icon {
    position: fixed;
    z-index: 20;
    top: 2.5rem;
    left: 1rem;
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
  .menu-icon .menu-icon__cheeckbox {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
    z-index: 2;
    -webkit-touch-callout: none;
    position: absolute;
    opacity: 0;
  }
  .menu-icon div {
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 22px;
    height: 12px;
  }
  .menu-icon span {
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--bar-bg, #000);
    border-radius: 1px;
    transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);
  }
  .menu-icon span:first-of-type {
    top: 0;
  }
  .menu-icon span:last-of-type {
    bottom: 0;
  }
  .menu-icon.active span:first-of-type, .menu-icon .menu-icon__cheeckbox:checked + div span:first-of-type {
    transform: rotate(45deg);
    top: 5px;
  }
  .menu-icon.active span:last-of-type, .menu-icon .menu-icon__cheeckbox:checked + div span:last-of-type {
    transform: rotate(-45deg);
    bottom: 5px;
  }
  .menu-icon.active:hover span:first-of-type, .menu-icon.active:hover span:last-of-type, .menu-icon:hover .menu-icon__cheeckbox:checked + div span:first-of-type, .menu-icon:hover .menu-icon__cheeckbox:checked + div span:last-of-type {
    width: 22px;
  }
  @media (min-width: 1024px) {
    .menu-icon:hover span:first-of-type {
      width: 26px;
   }
    .menu-icon:hover span:last-of-type {
      width: 12px;
   }
  }
  .menu{
    z-index: 10;

    transition: all .7s;
left:-100rem;
width: 100%;
position: fixed;
height: 10vh;
top: 0;
}


.menu_shown{
    z-index: 10;
    width: 40%;
    height: 100vh;
    transition: all .7s;
left:0;
right: 0;
position: fixed;
top: 0;
bottom: 0;
background-color: rgb(114, 111, 111);
}



.logo_menu{ 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 4rem;

}

.logo_menu>li{
    text-align: left;
    margin-bottom: 2rem;
    margin-left: -1rem;
    cursor: pointer;
    transition: all ease-in-out .3s;

}



.logo_menu>li:hover{
    color: rosybrown;
    transition: all ease-in-out .3s;
}



