@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bellota+Text:wght@300&family=Lato:ital,wght@1,100&family=Open+Sans+Condensed:wght@300&family=Outfit:wght@400;900&family=Roboto:ital,wght@0,100;0,300;1,100&family=Shizuru&display=swap');
@media screen and (max-width: 1275px) {
.daypresent{
    display: none;
}#horaire_id{
    text-align: center;
}
.list_date>li{
    text-align: center;
}
svg{
    position: fixed;
}
#menu_toggle_id{
    display: none;
}
.bbt{
    position: fixed;
}

    .spe_grid,.grid_info{
        margin: 55rem auto;
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .grid_piece_search{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }

     .grid_piece_search>h2{
         height: 25rem;
         overflow: scroll;
         padding: 1rem;
         margin-bottom: 2rem;
         margin-top: 1rem;
     }
    .mobile_menu{
        top: 4rem;
        position: absolute;width: 100%;
        height: 3.5rem;text-align: center;
        z-index: 100;
        display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color: rgb(0, 0, 0);
    }
    .mobile_menu>li{
        list-style: none;
        
      
    }
    .mobile_menu>li>a{
        text-decoration: none;
        color: white;
        
        font-size: 1.5rem;
    }
    .menu_hide_div{
        width: 90%;
        left: -120%;
        transition: all .3s;
        top: 0;
        position: fixed;
        height: 100vh;
        z-index: 12;
        background-color: rgb(0, 0, 0);
    }
    .menu_show_div{
        overflow: scroll;

        width: 90%;
        left: 0
        ;
        font-family: Roboto;
        font-weight: 200;
        transition: all .5s;
    
        position: fixed;
        height: 100vh;
        z-index: 12;
        background-color: rgb(0, 0, 0);
    }   
    .form_show_button{
        font-weight: 900;
        text-decoration: underline;
        cursor: pointer;
        padding-top: 1rem;
        font-size: 1rem;
        text-transform: uppercase;
    }
  
    .show_menu_list>li{
        font-size: 2rem;
        text-align: center;
        padding-bottom: 6rem;
        list-style: none;
    }
    .show_menu_list>li>a{
        text-decoration: none;
        color: white;
    }
    .show_menu_list>li:first-child{
        padding-top: 3rem;
    }

    main>.daypresent{
        display: none;
        position: absolute;
        z-index: 3;
        top: .5rem;
        right: 2rem;
        color: white;
    
    }
    .logo_a{
        white-space: nowrap;
        font-family: Roboto;
        padding-top: .5rem;
        width: 100%;
    }
    header>.desktop_menu{
        display:none;
    }
    .desktop_menu>li{
        color: white;
    }
    #carouselExampleControls{
        z-index: 1;
        display: block;
        width: 100%;
        margin: 2.8rem auto;
    }
    .spe_grid>a>p{
        z-index: 3;
        color: rgb(255, 255, 255);
        opacity: 1;
        top: 50%;
        left: 50%;
        transition: all .3s;
    
        transform: translate(-50%,-50%);
    }


.grid_call_mail{
    width:90%;
    height: 4rem;
    position: fixed;
    bottom: 4%;
    left: 50%;
    transform: translate(-50%,-4%);
    background-color: rgb(0, 0, 0);
    border-radius: 5rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 0 auto;
    z-index: 11;

}

.grid_call_mail>a{
    color: white;
    font-size: .7rem;
    width: 100%;
    text-align: center;
    padding-top: .8rem;
    text-decoration: none;
    grid-template-columns: repeat(2,1fr);
}


.grid_call_mail>.devis_a_btn:before{
    background-image: url(../assets/ico_mail.png);
    background-position: center center;
    background-size: contain;
    display: inline-block;
    margin-right: 1rem;
    width: 2.2rem;
    height: 2.3rem;
    content: "";
    border: .1rem solid #fdf4e9;
    border-radius: 100%;       ;
    vertical-align: middle;
}
.grid_call_mail>.devis_b_btn::before{
    background-image: url(../assets/logo_phone.png);
    background-position: center center;
    background-size: contain;
    display: inline-block;
    margin-right: 1rem;
    width: 2.2rem;
    height: 2.3rem;
    content: "";
    border: .1rem solid #fdf4e9;
    border-radius: 100%;       ;
    vertical-align: middle;
}
main>.grid_essenital_flip{
    display: grid;
    grid-template-columns: repeat(1,1fr);
}

main>.grid_essenital_flip>div{
    height: 25rem;
}
footer{
    z-index: 12;
}
.flip-card-back>p{
    overflow-y: auto;
  font-size: 1.4rem;  
  font-family: Roboto;
  width: 90%;
  text-align: center;
  line-height: 3rem;
  display: block;
  margin: 2rem auto;
  }

footer>.grid_ul_div{
    display: block;
}
.grid_info>div{
    position: relative;
    margin-bottom: -50rem;
    }
}